h1,h2,h3,h4,h5,h6,hr,p{margin: 0;padding: 0;}
audio,video {display: inline-block;}
details,menu {display: block;}
a{text-decoration: none !important; cursor:pointer;}
ul, li, ol, dd{margin:0; padding:0; list-style:none;}
form {margin: 0;padding: 0;height: auto;overflow: inherit;}
