.scroollbar-menu::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scroollbar-menu::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.75);
}

.scroollbar-menu::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

.scroollbar-menu::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.scroollbar-menu::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

.scroollbar-menu::-webkit-scrollbar-track:hover,
.scroollbar-menu::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}
