.productos-relacionados--item{
  margin-top: 5px;
  background-color: #fff;
  padding: 20px 10px 5px 10px;
  cursor: pointer;
  border: 1px solid #dadada;
  box-shadow: 1px 1px 3px 1px #eaeaea;
  & h3 {
    margin-bottom: 15px;
    padding: 10px 0;
    line-height: 1.3rem;
  }
  &:hover{
    border: 1px solid $color_principal;
    & h3 {
      color: $color_principal;
    }
  }
  .productos-relacionados--item-titulo{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 30px;
    color: #2f3d4e;
  }
  .productos-relacionados--item-hide {
    text-align: center;
    position: absolute;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    top: 0;
    left: 0;
    height: 0;
    overflow: hidden;
    width: 99%;
    margin: 0 auto;
    & .title {
      font-size: 1rem;
      font-weight: 500;
      margin-bottom: 10px;
      color: #4e4e4e;
      border-bottom: 1px solid #8b8b8b;
      padding-bottom: 5px;
      width: 70%;
    }
    & .price {
      font-size: .9rem;
      font-weight: 600;
      color: #4e4e4e;
    }
    & .desc {
      font-size: .9rem;
      font-weight: 600;
      padding: 1rem;
      color: #4e4e4e;
    }
  }
}
.item-card h3 {
  font-size: 14px;
}
.productos-relacionados-card {
  & .item-card:hover .productos-relacionados--item-hide{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(243, 243, 243, 0.82);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
