@import "_variables.scss";
/* INICIO HEADER SUPERIOR */
.header__contact {
  border-bottom: 1px solid #e4e4e41c;
}
.header__contact-items {
  & > li {
    display: inline-block;
    padding-right: 15px;
    border-right: 1px solid #c5c5c5;
    font-size: 13px;
    color: #777777;
    & i {
      color: #777777;
    }
    &:last-child {
      border-right: none;
      padding-right: 0;
    }
    &:last-child:hover .dropdown__cuenta-menu-icon i{
      color: $color_principal;
    }
  }
}
/* FIN HEADER SUPERIOR */

/* INICIO HEADER CENTRO */
.header__wrapper--menu{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.header__wrapper--menu-login{
  padding: 25px 5px;
  background: #478cb5;
  & h4 {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    text-align: center;
  }
  & i {
    color: #ffffff;
  }
}
.header__wrapper--menu-categorias{
  padding: 20px 15px;
  & .header__wrapper--menu-categorias-titulo{
    border-bottom: 1px solid #e4e4e4;
    font-size: 16px;
    margin-bottom: 10px;
    color: #4f6d7d;
    font-weight: 700;
  }
}
.header__wrapper--buscador{
  width: 100%;
  max-width: 75%;
  opacity: .8;
  & i {
    position: absolute;
    right: 10px;
    top: 0;
    padding: 9px;
    font-size: 1.2em;
    border-radius: 0px 4px 4px 0px;
    color: #d8d8d8;
  }
}
.header__wrapper--cesta{
  & img {
    width: 50px;
    opacity: .4;
  }
  & .cesta-cantidad{
    position: absolute;
    background: #5796bb;
    border-radius: 50%;
    width: 21px;
    height: 19px;
    color: white;
    text-align: center;
    padding: 0px 3px;
    font-size: 12px;
    margin-left: -14px;
    z-index: 1;
    top: -8px;
    right: 0px;
  }
}
/* FIN HEADER CENTRO

/* INICIO HEADER INFERIOR */
.header__navbar {
  background-color: #2277aa;
}
.header__navbar-menu {
  & > li {
    flex: auto;
    text-align: center;
    line-height: 2.5rem;
    & a {
      color: white !important;
      padding: 12px 0px !important;
      font-weight: 400;
    }
    &:hover .header__navbar-sub-menu{
      display: block;
    }
  }
}
.header__navbar-sub-menu{
  position: absolute;
  display: none;
  z-index: 2;
  background: #fff;
  width: 100%;
  top: 100%;
  left: 0;
  & .header__navbar-sub-menu--titulo {
    border-bottom: 2px solid $color_principal;
    margin-bottom: 20px;
    line-height: 2;
    & a{
      color: $color_principal !important;
      font-size: 16px;
      font-weight: 600;
      line-height: 1.5;
    }
  }
  ul li{
    line-height: 1.8;
    & a {
      color: #333333 !important;
      font-weight: 500;
      font-size: 15px;
    }
    &:hover a {
      color: $color_principal !important;
      cursor: pointer;
    }
  }
}
/* FIN HEADER INFERIOR */
